{% layout "layout.liquid" %}
{% block content %}

    <h1 class="display-3">   Welcome to the easy way to find Exotics!</h1>

    <p class="display-6" >   If you wanted to figure out how to get Exotics in Destiny, you're in the right place!!</p>


{% endblock %}